{%extends 'base.html'%}

{%block title%}NHL Agents{%endblock%}

{%block content%}

<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h3 style="text-align: center;">NHL Agents</h3>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by agent name">
			<table class="table table-striped table-hover table-bordered" id="myTable">
				<th>Agent Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Mobile</th>
				{%for d in agents%}
				<tr>
					<td><a href="/agents/{{d.0}}">{{d.1}}</a></td>
					<td>{{d.2}}</td>
					<td>{{d.3}}</td>
					<td>{{d.4}}</td>
				</tr>
				{%endfor%}
			</table>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td1 = tr[i].getElementsByTagName("td")[0];
    if (td1) {
      if ((td1.innerHTML.toUpperCase().indexOf(filter) > -1) ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{%endblock%}
